body {
    color: #444;
    margin: 20px;
    /* overflow-x: hidden; */
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

@media (min-width: 768px) {
    .underline {
        font-size: 150%;
    }
}


.contained {
    max-width: 900px;
    margin: auto;
}

.colored {
    background-color: #FFF874
}

.section {
    padding: 0 0 2rem 0
}

.section p {
    margin-bottom: 2rem;
}

.underline {
    border-radius: 0 !important;
    background-color: inherit !important;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px solid transparent !important;
    transition: border-bottom 1s,  color 1s !important;
    color: white;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
}

.underline:hover {
    border-bottom-color: #FFF874 !important;
    color: #FFF874;
    cursor: pointer;
}

.centered {
    text-align: center;
    margin: auto;
}

.blueButton {
    color: white !important;
    background-color: #3f51b5 !important;
    font-weight: 700 !important;
    font-size: large !important;
    border: none;
    padding: 1rem;
    font-size: 125% !important;
    transition: color 0.3s !important;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.blueButton:hover {
    cursor: pointer;
    background:  #485fe0 !important;
}

.primaryColor {
    color: white;
    background-color: #3f51b5;
}

nav a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3{
    font-family: Helvetica, sans-serif !important;
    line-height: 1;
}

.slider-button {
    margin: auto;
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 120%;
    background-color: #eee;
    border-radius: 20%;
    height: 4rem;
    font-family: 'Material Icons';
    font-size: 24px;
}

.ReactModal__Content{
    max-height: 80vh;
    overflow-y: hidden !important;
}